* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
  /*background-color: #152642;*/
}
.app__dark{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color:#161625 !important; /* #192734  #121212  #152642 #2E2E2E  #171717 #0B1F65*/
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__dropdown{
  background-color: #dcdcdc;
  border-radius: 10px;
}
.app__dropdownDark{
  background-color: #17a2b8;
  border-radius: 10px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}
.app_rightDark{
  display: flex;
  flex-direction: column;
  background-color: #161625 !important;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
.app__heading{
  color:#B22222;
}
.heading__dark{
  
}
.app__icon{
  height:50px;
  width: 50px;
}
.app__tableHeadingDark{
  color:#B22222;
}
